configuration {
  modes: "combi,run,tools:'/home/pawelkuzia/.config/rofi/scripts/rofi_toolbox.sh'";
  show-icons: true;
  terminal: "kitty";
  window-match-fields: "class,title";
	drun-match-fields: "name";
  window-format: "{t}";
	combi-modes: "drun,run";
  matching: "normal";
  combi-display-format: "{mode}  {text}";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "themes/pywal.rasi"
