@import url("/home/pawelkuzia/.cache/wal/swaync-transparency-colors.css");

:root {
  --noti-border-color: var(--color7_alpha40);
  --noti-bg: var(--color0);
  --noti-bg-alpha: 0.7;
  --noti-bg-darker: var(--color0_alpha80);
  --noti-bg-hover: var(--color0);
  --noti-bg-focus: var(--color0_alpha100);
  --noti-close-bg: var(--color2_alpha80);
  --noti-close-bg-hover: var(--color6);
  --text-color: var(--color7);
  --text-color-disabled: rgba(150, 150, 150, 1.0);
  --cc-bg: var(--color0_alpha80);
}

* {
  box-shadow: none;
  font-family: "UbuntuSans Nerd Font Mono";
}

.blank-window,
.floating-notifications,
.background,
.fullscreen {
  background: transparent;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  all: unset;
  border-radius: 12px;
  border: 1px solid var(--noti-border-color);
  padding: 0;
  background: var(--noti-bg);
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;
  box-shadow: none;
  /* The groups close button */
}

.notification-group:focus {
  background: none;
  box-shadow: none;
}

.notification-group-header {
  background: none;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: normal;
} 

.notification-group-buttons {
  background: none;
  border-radius: 12px;
  border: 0px solid var(--noti-border-color);
  padding: 0;
  background: none;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: var(--noti-close-bg);
  color: var(--text-color);
  border: 0px solid var(--noti-border-color);
  padding: 0;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: var(--noti-close-bg-hover);
  color: var(--background);
}

.notification-default-action,
.notification-action {
  padding: 10px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  color: var(--text-color);
  border-radius: 12px;
  transition: background 0.15s ease-in-out;
}

.notification-action {
  background: var(--color2_alpha30);
  border: none;
  padding: 6px;
  margin: 6px;;
}

.text-button {
  background: none;
  border: none;
  color: var(--text-color);
}
.notification-default-action:hover,
.notification-action:hover {
  background: var(--noti-bg-hover);
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 12px;
}

.notification-content .summary {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 10px;
}

.notification-content .time {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 18px;
}

.notification-content .body {
  font-size: 15px;
  font-weight: normal;
  color: var(--text-color);
  margin-left: 10px;
}

.body-image,
.image {
  margin-top: 0px;
  background-color: transparent;
  border-radius: 100%;
  border: none;
  min-width: 96px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  caret-color: var(--text-color);
  border: 1px solid var(--noti-border-color);
  border-radius: 4px;
}

.inline-reply-button {
  margin-left: 4px;
  background: rgba(var(--noti-bg), var(--noti-bg-alpha));
  border: 1px solid var(--noti-border-color);
  border-radius: 4px;
  color: var(--text-color);
}

.inline-reply-button:disabled {
  background: initial;
  color: var(--text-color-disabled);
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.notification-alt-actions {
  background: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 4px;
}

.notification-action > button {
  border-radius: 12px;
}


.notification-group-close-button  {

  margin-top: 0px;
  margin-right: 0px;
}

.close-button,{
  background: var(--noti-close-bg);
  color: var(--text-color);
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
  min-width: 24px;
  min-height: 24px;
  border: none;
}

.close-button:hover {
  background: var(--noti-close-bg-hover);
  color: var(--background)
}

/*** Control Center ***/

.control-center {
  border-radius: 12px;
  background: var(--cc-bg);
  color: var(--text-color);
  margin: 12px;
  border: 2px solid var(--color5);
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .notification {
  box-shadow: none;
}

/*** Widgets ***/
.widget-title {
  margin: 10px;
  font-size: 1.1rem;
}


.widget-title > label {
  margin: 10px;
  font-size: 1.5rem;
}

.widget-title > button {
  margin: 8px;
  border-radius: 12px;
  background: var(--color2_alpha30);
  color: var(--text-color);
  border: 0 solid var(--color5);
  padding: 6px;
}

.widget-title > button:hover {
  background: var(--noti-close-bg-hover);
  color: var(--background)
}

.widget-dnd {
  margin: 10px;
}

.widget-dnd {
  border: none;
  font-size: 1.1rem;
  padding-right: 10px;
  padding-left: 10px;
}
.widget-dnd label {
  color: var(--text-color);
  font-size: 1.1rem;
}

.widget-dnd switch {
  background: var(--noti-bg);
  border: none;
  border-radius: 4px;
  margin: 8px;
}

.widget-dnd switch:checked {
  background: var(--noti-bg);
}


.widget-dnd switch slider {
  background: var(--color2_alpha30);
  border: none;
  border-radius: 4px;
}

.widget-dnd switch:checked slider {
  background: var(--color6);
}

.widget-buttons-grid {
  border: none;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: var(--color2_alpha30);
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  min-width: 90px;
  min-height: 60px;
  font-size: 36px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: var(--noti-bg-hover);
}

.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: var(--text-color);
  background: var(--color0_alpha50);
  border: 1px solid var(--color5);
  border-radius: 4px;
}

.widget-inhibitors > button:hover {
  background: var(--noti-bg-hover);
}
